#rss-helper {
    width: 128px;
    height: 48px;
    line-height: 48px;
    background-color: #f36392;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
