#feed {
    text-decoration: none;
}

._3yalhqB {
    flex-direction: row;
    width: auto;
    #feed {
        margin-left: 12px;
    }
}

.sc-dRCTWM.cRuxjo {
    #feed {
        margin-top: 12px;
    }
}