#rss-helper {
    text-decoration: none;
}

._3yalhqB {
    flex-direction: row;
    width: auto;
    #rss-helper {
        margin-left: 12px;
    }
}

.sc-dRCTWM.cRuxjo {
    #rss-helper {
        margin-top: 12px;
    }
}