.room-info-down-row {
    #feed {
        height: 22px;
        line-height: 22px;
        padding-left: 16px;
        padding-right: 16px;
        background-color: #23ade5;
        color: white !important;
        border-radius: 4px;
        right: 130px;
        top: 50%;
        transform: translateY(-50%);
    }
}