#v_upinfo {
    .followe {
        margin-left: -89px;
    }

    .btn-panel {
        margin-left: 0;
        top: 8px;
        position: relative;
    }
}

#rss-helper {
    padding: 4px 16px;
    margin-left: 12px;
    margin-top: 0;

    &.old {
        height: 20px;
        line-height: 20px;
    }
}
